/* Elaine Wilberforce, FED, bronnen en opmerkingen toegevoegd */
/* command slash voor commentaar */

/* css remedy */
*, *::after, *::before {
  box-sizing:border-box;  
}

button, summary {
	cursor: pointer;
}

/*********************/
/* custom properties */
/*********************/

:root {
	/* startje */
	--color-text-dark:#111;
	--color-text-light:#ffffff;
	--color-background:#d9d9d9;
	--color-background-white: #ffffff;
	--footer-color: #1c1c1c;
	--header-color: #ffffff;
	--link-button-color: #ffff07;
	--footer-text-color: #808080;
	--text-shadow-hover: #FFFF07;
}


/*********/
/* fonts */
/*********/

@font-face {
    font-family: HelveticaNeue;
    src: url(/fonts/HelveticaNeue-01.ttf);
}

/* jouw code */

body {
  color:var(--color-text);
  margin: 0;
  font-family: HelveticaNeue;
}

body.page1 {
	background-color:var(--color-background);
}

h1 {
	display: none;
}

/******************/
/* header styling */
/******************/

header {
	background-color: var(--header-color);
	position: sticky;
	top: 0;
	z-index: 100;
	
	min-height:5.5em;
}

h1 {
	margin: 0;
}

header nav a:nth-of-type(2) {
	/* login tekst */
	position: relative;
	text-decoration: none;
	font-size: 0.9em;
	left: 2em;

}

header a img {
	/* logo img */
	width:2.5em;
}




/***************/
/* nav styling */
/***************/

nav:nth-of-type(1) {
	display: flex;
	justify-content: space-between;
	align-items: center;
	

	min-height:5.5em;
}

nav:nth-of-type(1) a img {
	/* logo */
	margin-left: 1em;
}

header nav:nth-of-type(1) button:nth-last-child(2) {
	/* menu button met icon */
	position: relative;
	z-index: 350;
	border: none;

	background: none;
	color: transparent;
	width: 5em;
	bottom: 0.4em;
	padding: 0;
}

header nav:nth-of-type(1) button:nth-last-child(2) img {
	/* icon svg */
	width: 2.5em;
	margin: 0 0 0 0;
}




/***************/
/* menu lijst */
/***************/

header nav:nth-of-type(1) ul:nth-of-type(2) {
	position: fixed;

	list-style:none;
	background-color: var(--link-button-color);
	background-size: cover;

	top: 0;
  	bottom: 0;
  	left: 0;
  	right: 0;

	margin: 0;
	z-index: 100;

	transform: translateX(100%);

	padding: 4em;
}

header nav:nth-of-type(1) ul:nth-of-type(2) li {
	background-color: red;;
}

header nav:nth-of-type(1) ul:nth-of-type(2) a {
	font-size: 2em;
	display: block;
	padding:1em 0;
	color:black;
}


/* openen van hamburgermenu */
nav:nth-of-type(1).buttonOpen ul:nth-of-type(2) {
	transform: translateX(0%);
}




/************/
/* zoekbalk */
/************/


ul li form input {
	position: fixed;
	font: inherit;
	z-index: 100;
	padding: 1em;
	border: none;
	top: -1em;
	left: -0.5em;
	width: 8em;
}


header nav:nth-of-type(1) ul:nth-of-type(1) {
	/* zoekbalk weg ---- NOG FIXEN */
	display: block;
	transform: translateX(-150%);
	position: relative;
	opacity: 0;
}
header nav:nth-of-type(1) button:nth-of-type(1){
	/* zoekbalk button openklappen */
	padding: 0;
	z-index: 1;
	border: none;
	width: 10%;
	appearance: none;
	background: none;
	color: transparent;
}

header nav:nth-of-type(1) button:nth-of-type(1) img {
	/* zoekbalk icon */
	width: 2em;
	margin: 0 0 1em 0;
}

nav:nth-of-type(1).searchOpen ul:nth-of-type(1) {
	/* zoekbalk button laten zien */
	transform: translateX(-60%);
	opacity: 1;
	transition: 0.5s;
}

header nav button:nth-of-type(2) {
	/* favorieten knop */
	position: relative;
	appearance: none;
	background: none;
	color: transparent;
	border: none;
	padding: 0;
	width: 7%;
	margin: 0 0 0.9em 0;
	left: 3em;
}

/* button: appearance: none, border: none, font: inherit */
/* button:focus(-visible), outline:none */
/* button:active, */
/* ::before of ::after VOOR STYLING AAN LINKS!!!!!!! */


/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

/*****************/
/* VIDEO SECTION */
/*****************/

.page1 main section:nth-of-type(1) { 
	/* class voor deze section omdat hij verschilt van page 2*/ 
	position: relative;
	width:100vw;
	height:100vh;
}

/* selecteer de eerste section */
.page1 div { 
	position: absolute;
	inset:0;

	display: flex;
	flex-direction: column;
	justify-content:center;

	padding: 1em 1em 10em 1.5em;

	/* background-color: #f008; */
}

.page1 div a {
	/* icon pijltje positioneren */
	position: relative;
	left: 1em;
	cursor: pointer;
}

.page1 div a::before {
	/* icon pijltje */
	content: url(/images/a-before.svg);
	position: relative;
	right: 1em;
	transition: 0.5s;
}
.page1 div a:focus::before {
	position: relative;
	top: -0.5em;
}

/* selecteer de h1 van de 1e en 2e section */
.page1 main section:nth-of-type(1) div h2 { 
	font-size: 2.5em;
	color: var(--color-text-light);
	font-weight: 100;
}

 /* link van video header */
 .page1 main section:nth-of-type(1) div a {
	text-decoration: none;
	color: var(--color-text-light);
 }
 
 .page1 main section:nth-of-type(1) video {
	object-fit: cover;
  	width: 100%;
  	height: 100%; 
}




/*****************************/
/********* section 2 *********/
/*****************************/

/* Section 2 zelfde in beide pagina's */

section:nth-of-type(2) {
	display: grid;
	grid-template-columns: 1fr 1fr;
	padding: 1em 1em 4em 1.5em;
}

/* Positioneer h2 in 1 kolom */
section:nth-of-type(2) h2 {
	font-size: 3em;
	font-weight: 100;
	grid-column-start: 1;
	grid-column-end: 3;
}
section:nth-of-type(2) h3 {
	font-size: 2em;
	margin: 0;
}

section:nth-of-type(2) a {
	text-decoration: none;
	background-color: var(--link-button-color);
	color: var(--color-text-dark);
	border-radius: 2em;

	padding: 1em;
	width: 14.5em;
	margin: 2em 0 0 0;
	text-align: center;
}

/* Prijs ADE Pro Pass met grid */

section:nth-of-type(2) p:nth-of-type(1) {
	font-size: 1.7em;
	text-align: end;
}

section:nth-of-type(2) p {
	margin: 0;
	font-size: 1.1em;
}

section:nth-of-type(2) p:nth-of-type(2) {
	grid-column-start: 1;
	grid-column-end: 3;
	margin: 0.5em 0 0 0;
	
}

section:nth-of-type(2) p:nth-of-type(3) {
	grid-column-start: 1;
	grid-column-end: 3;
	margin: 0.5em 0 0 0;
}




/****************************/
/******** section 3 *********/
/****************************/

.page1 section:nth-of-type(3) {
	/* mysterieuze margin right */
	display: flex;
	flex-direction: column;
	background-color: var(--color-background);
	width: 100%;
}

.page1 iframe {
	position: relative;
	left: 1.5em;
	width: 23em; /* dit om de extra random margin weg te halen */
	height: 18em;
	border-radius: 1em;
}

.page1 section:nth-of-type(3) h2 {
	position: relative;
	width: 75%;
	left: 1em;
	margin: 1em 0 0 0.2em;
	font-size: 1.4em;
}
.page1 section:nth-of-type(3) > a {
	position: relative;
	left: 1.5em;
	margin: 1em 0 2em 0;
	width: 10%;
	appearance: none;
	border: none;
	background: none;
	color: transparent;
}


/****************************/
/********* carousel *********/
/********* section 4 ********/
/****************************/

.page1 section:nth-of-type(4) {
	margin: 0 0 3em 0;
}

.page1 section:nth-of-type(4) h2 {
	padding: 0 0 5em 0;
	margin: 2.5em 1em 0em 1.5em;
	font-weight: 100;
	/* news & updates */
}

.page1 section:nth-of-type(4) h3 {
	position: absolute;
	margin: -0.75em 0 0 0.1em;

	color: var(--color-text-light);
	font-size: 9em;
	font-weight: 100;
	/* achter de carousel, met JS? */
}

.page1 section:nth-of-type(4) img {
	display: block;
	width: 21em;
}

.page1 section:nth-of-type(4) ul {
	display: flex;
	gap:1em; /* new */

  	list-style: none;
	margin: 0; /* gewijzigd */
	padding:0 1em; /* gewijzigd */

/* Vanaf hier code van Sanne: https://codepen.io/shooft/pen/abmLRMg */
	
	/* handmatig scrollen is mogelijk */
	overflow-x: auto;
	/* overflow-y: hidden; */
	
	/* snappen als er gescrolled wordt - andere helft bij li */
  scroll-snap-type: inline mandatory;
	/* smooth als met js gescrolled wordt */
	scroll-behavior: smooth;
  /* scrollbar zoveel mogelijk verbergen */
  -webkit-overflow-scrolling: touch; /* voor iOS*/
 	-ms-overflow-style: none; /* voor IE */
	scrollbar-width: none; /* voor firefox */
	
	/* indien het einde of het begin van de pagina bereikt is met scrollen */
	/* voorkomen dat de pagina gaat scrollen */
	overscroll-behavior: contain auto;
}

.page1 section:nth-of-type(4) ul li {
	/* flex-basis: 100%; */
	flex-basis:21em; /* gewijzigd */
  	flex-shrink: 0;
  /* snappen als er gescrolled wordt - andere helft bij ul */
	scroll-snap-align:center;
}

.page1 section:nth-of-type(4) ul li a {
	text-decoration: none;
	color: inherit;
}

.page1 .show { /* class in JS */
	color: var(--link-button-color);
}





/******************/
/***** footer *****/
/******************/

footer {
	display: flex;
	flex-direction: column;

	padding: 1em 1em 0em 1.5em;

	background-color: var(--footer-color);
	color: var(--color-text-light);
	font-weight: 100;
}

footer h2 {
	/* h2 */
	font-size: 2.5em;
	font-weight: 100;
	margin: .5em 0 0 0;
}

footer > p:nth-of-type(1) {
	/* eerste p */
	font-size: 1.4em;
	font-weight: 100;
}

footer > p:nth-of-type(2) {
	/* tweede p */
	font-size: 0.8em;
	color: var(--footer-text-color);
}

footer > a:nth-of-type(1) { 
	/* eerste a linkje subscribe now */
	text-decoration: none;
	color: var(--color-text-light);
	font-size: 1.4em;
	position: relative;
	left: 1em;
	width: 50%;
}

footer > a:nth-of-type(1)::before {
	/* eerste a linkje icon */
	content: url(/images/a-before.svg);
	position: relative;
	right: 1em;
}

footer nav:nth-of-type(1) ul {
	display: flex;
	position: relative;
	flex-direction: row;
	justify-content: flex;

	width: 50%;
	gap: 1.5em;
	right: 2.5em;
}

footer nav:nth-of-type(1) ul li {
	list-style-type: none;
}

footer nav:nth-of-type(1) ul li a {
	color: var(--footer-text-color);
	text-decoration: none;
	font-size: 1.05em;
	border: 0.1em solid;
	border-radius: 50%;
	height: 100%;
	width: 100%;
	
	padding: 0.6em;
}

footer nav:nth-of-type(2) ul {
	position: relative;
	right: 2.5em;

}

footer nav:nth-of-type(2) ul li {
	list-style-type: none;
}

footer nav:nth-of-type(2) ul li a {
	color: var(--footer-text-color);
	text-decoration: none;
}

/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

/******************/
/***** Page 2 *****/
/******************/




/****************************/
/******** section 1 *********/
/****************************/

.page2 section:nth-of-type(1) {
	padding: 1em 1em 0 1.5em;
	background-color: var(--color-background-white);
}

.page2 section:nth-of-type(1) h2 {
	font-size: 2.5em;
	font-weight: 100;
}

.page2 section:nth-of-type(1) ul {
	/* omheen de linkjes */
	display: grid;
	position: relative;
	grid-template-columns: 1fr 1fr;
	gap: 1em;

	list-style-type: none;
	padding-left: 0;
	width: 22em;
	height: 12em;
}

.page2 section:nth-of-type(1) ul li {
	/* de list zelf */
	display: grid;
	background-color: var(--link-button-color);
}

.page2 section:nth-of-type(1) ul li a {
	/* de linkjes zelf */
	position: absolute;
	padding: 0.5em;
	text-decoration: none;
	color: inherit;
	font-size: 1.3em;
	line-height: 0.8em;
	width: 5em;
}

.page2 section:nth-of-type(1) ul li p {
	/* program tekst */
	position: absolute;
	bottom: -0.9em;
	padding: 0.9em;
	font-size: 0.8em;
}
.page2 section:nth-of-type(1) ul li img {
	/* de icoontje achter linkje, ::after werkt niet goed */
	position: relative;
	left: 8.5em;
	top: 0.8em;

	width: 1em;
	height: 1em;
}

/****************************/
/******** section 3 *********/
/****************************/

.page2 section:nth-of-type(3) {
	margin: 0 0 3em 0;
	background-color: var(--color-background);
	margin: 0;
}

.page2 section:nth-of-type(3) h2 {
	padding: 2em 0 1em 0;
	margin: 0 1em 0em 1.5em;
	font-weight: 100;
	/* suggestions */
}

.page2 section:nth-of-type(3) img {
	display: block;
	width: 11.5em;
	padding: 0 1em 0 0;
}

.page2 section:nth-of-type(3) a {
	text-decoration: none;
	color: inherit;
}

.page2 section:nth-of-type(3) ul {
	display: flex;
  	list-style: none;
	margin: 0 0 0 0;

/* Vanaf hier code van Sanne: https://codepen.io/shooft/pen/abmLRMg */
	
	/* handmatig scrollen is mogelijk */
	overflow-x: scroll;
	overflow-y: hidden;
	
	/* snappen als er gescrolled wordt - andere helft bij li */
  	scroll-snap-type: inline mandatory;
	/* smooth als met js gescrolled wordt */
	scroll-behavior: smooth;
  	/* scrollbar zoveel mogelijk verbergen */
  	-webkit-overflow-scrolling: touch; /* voor iOS*/
 	-ms-overflow-style: none; /* voor IE */
	scrollbar-width: none; /* voor firefox */
	
	/* indien het einde of het begin van de pagina bereikt is met scrollen */
	/* voorkomen dat de pagina gaat scrollen */
	overscroll-behavior: contain auto;
}


/****************************/
/******** section 4 *********/
/****************************/

.page2 section:nth-of-type(4) {
	/* mysterieuze margin right */
	display: flex;
	flex-direction: column;
	background-color: var(--color-background);
	width: 100%;
}

.page2 iframe {
	position: relative;
	left: 1.5em;
	width: 23em; /* dit om de extra random margin weg te halen */
	height: 18em;
	border-radius: 1em;
}

.page2 section:nth-of-type(4) h2 {
	position: relative;
	width: 75%;
	left: 1em;
	margin: 1em 0 0 0.2em;
	font-size: 1.4em;
}
.page2 section:nth-of-type(4) > a {
	position: relative;
	left: 1.5em;
	margin: 1em 0 2em 0;
	width: 10%;
	appearance: none;
	border: none;
	background: none;
	color: transparent;
}

/***********************************************/
/******** section 5 ---- Recent artists *********/

section:nth-of-type(5) {
	background-color: var(--color-background);
	padding: 0 0 3em 2em;
}

section:nth-of-type(5) h2 {
	margin: 0;
	padding: 3em 0 0 0;
}

section:nth-of-type(5) ul {
	display: flex;
	flex-wrap: wrap;

	padding: 0 0.5em 0 0;
}

section:nth-of-type(5) ul li {
	list-style-type: none;
}

section:nth-of-type(5) ul li a {
	text-decoration: none;
	color: inherit;
	font-size: 1.65em;
	padding: 0 0.2em 0 0;
}

section:nth-of-type(5) ul li a::after {
	content: " / "
}

section:nth-of-type(5) ul li a:hover {
	color: var(--link-button-color);
	text-shadow: 
	0 0 .05em var(--text-shadow-hover),
	0 0 .1em var(--text-shadow-hover);
	transition: 0.2s;	
		
}
section:nth-of-type(5) ul li a:focus {
	color: var(--link-button-color);
	text-shadow: 
	0 0 .05em var(--text-shadow-hover),
	0 0 .1em var(--text-shadow-hover);
	transition: 0.2s;	
}

/****************************************/
/******** section 6 ---- page 2 *********/
/*************** carousel ***************/

section:nth-of-type(6) {
	margin: 0 0 0 0;
	padding: 0 0 3em 0;
	background-color: var(--color-background);
}

section:nth-of-type(6) h2 {
	padding: 0 0 0 0;
	margin: 0 1em 0em 1.5em;
	font-weight: 100;
	/* recent venues */
}

section:nth-of-type(6) a {
	margin: 0 0 0 2.3em;
	
}


section:nth-of-type(6) img {
	display: block;
	border-radius: 50%;
	width: 10em;
	height: 10em;

	padding: 0.5em;
}

section:nth-of-type(6) p {
	display: flex;
	justify-content: center;
}

section:nth-of-type(6) ul {
	display: flex;
  	list-style: none;
	margin: 2em 0 0 0;
	padding-left: 1em;

/* Vanaf hier code van Sanne: https://codepen.io/shooft/pen/abmLRMg */
	
	/* handmatig scrollen is mogelijk */
	overflow-x: scroll;
	overflow-y: hidden;
	
	/* snappen als er gescrolled wordt - andere helft bij li */
  	scroll-snap-type: inline mandatory;
	/* smooth als met js gescrolled wordt */
	scroll-behavior: smooth;
  	/* scrollbar zoveel mogelijk verbergen */
  	-webkit-overflow-scrolling: touch; /* voor iOS*/
 	-ms-overflow-style: none; /* voor IE */
	scrollbar-width: none; /* voor firefox */
	
	/* indien het einde of het begin van de pagina bereikt is met scrollen */
	/* voorkomen dat de pagina gaat scrollen */
	overscroll-behavior: contain auto;
}

/****************************************/
/******** section 7 ---- page 2 *********/
/*************** carousel ***************/

section:nth-of-type(7) {
	margin: 0 0 0 0;
	background-color: var(--color-background);
}

section:nth-of-type(7) h2 {
	padding: 0 0 0 0;
	margin: 0 1em 0em 1.5em;
	font-weight: 100;
	/* news & updates */
}

section:nth-of-type(7) img {
	display: block;
	width: 21em;
}

section:nth-of-type(7) ul {
	display: flex;
  	list-style: none;
	margin: 0 0 0 1em;

/* Vanaf hier code van Sanne: https://codepen.io/shooft/pen/abmLRMg */
	
	/* handmatig scrollen is mogelijk */
	overflow-x: scroll;
	overflow-y: hidden;
	
	/* snappen als er gescrolled wordt - andere helft bij li */
  	scroll-snap-type: inline mandatory;
	/* smooth als met js gescrolled wordt */
	scroll-behavior: smooth;
  	/* scrollbar zoveel mogelijk verbergen */
  	-webkit-overflow-scrolling: touch; /* voor iOS*/
 	-ms-overflow-style: none; /* voor IE */
	scrollbar-width: none; /* voor firefox */
	
	/* indien het einde of het begin van de pagina bereikt is met scrollen */
	/* voorkomen dat de pagina gaat scrollen */
	overscroll-behavior: contain auto;
}