/* Elaine Wilberforce, FED, bronnen en opmerkingen toegevoegd */
/* command slash voor commentaar */

/* css remedy */
*, *::after, *::before {
  box-sizing:border-box;  
}

button, summary {
	cursor: pointer;
}

/*********************/
/* custom properties */
/*********************/

:root {
	/* startje */
	--color-text-dark:#111;
	--color-text-light:#ffffff;
	--color-background:#d9d9d9;
	--footer-color: #1c1c1c;
	--header-color: #ffffff;
	--link-button-color: #ffff07;
}


/*********/
/* fonts */
/*********/

@font-face {
    font-family: HelveticaNeue;
    src: url(/fonts/HelveticaNeue-01.ttf);
}

/* jouw code */

body {
  color:var(--color-text);
  background-color:var(--color-background);
  margin: 0;
  font-family: HelveticaNeue;
}

h1 {
	display: none;
}

/******************/
/* header styling */
/******************/

header {
	background-color: var(--header-color);
	position: sticky;
	top: 0;
	z-index: 100;
	
	min-height:5.5em;
}

h1 {
	margin: 0;
}

header nav a:nth-of-type(2) {
	/* login tekst */
	position: relative;
	text-decoration: none;
	font-size: 0.9em;
	left: 2.3em;

}

header a img {
	/* logo img */
	width:2.5em;
}

/***************/
/* nav styling */
/***************/

nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	

	min-height:5.5em;
}

nav a img {
	/* logo */
	margin-left: 1em;
}

header nav button:nth-last-child(2) {
	/* menu button met icon */
	position: relative;
	z-index: 350;
	border: none;

	background: none;
	color: transparent;
	width: 20%;
	bottom: 0.4em;
	left: 1em;
	padding: 0;
}

header nav button:nth-last-child(2) img {
	/* icon svg */
	width: 2.5em;
	margin: 0 1.5em 0 0;
}

/***************/
/* menu lijst */
/***************/

header nav ul:nth-of-type(2) {
	position: fixed;

	list-style:none;
	background-color: var(--link-button-color);

	top: 0;
  	bottom: 0;
  	left: 0;
  	right: 0;

	margin: 0;

	transform: translateX(100%);
}

/* openen van hamburgermenu */
nav.buttonOpen ul:nth-of-type(2) {
	transform: translateX(0%);
}

/************/
/* zoekbalk */
/************/


ul li form input {
	position: fixed;
	font: inherit;
	z-index: 100;
	padding: 1em;
	border: none;
	top: -1em;
	left: -0.5em;
	width: 8em;
}


header nav ul:nth-of-type(1) {
	/* zoekbalk weg ---- NOG FIXEN */
	display: block;
	transform: translateX(-150%);
	position: relative;
	opacity: 0;
}
header nav button:nth-of-type(1){
	/* zoekbalk button openklappen */
	padding: 0;
	z-index: 2;
	border: none;
	width: 10%;
	appearance: none;
	background: none;
	color: transparent;
}

header nav button:nth-of-type(1) img {
	/* zoekbalk icon */
	width: 2em;
	margin: 0 0 1em 0;
}

nav.searchOpen ul:nth-of-type(1) {
	/* zoekbalk button laten zien */
	transform: translateX(-60%);
	opacity: 1;
	transition: 0.5s;
}

header nav button:nth-of-type(2) {
	/* favorieten knop */
	position: relative;
	appearance: none;
	background: none;
	color: transparent;
	border: none;
	padding: 0;
	width: 7%;
	margin: 0 0 0.9em 0;
	left: 3em;
}

/* button: appearance: none, border: none, font: inherit */
/* button:focus(-visible), outline:none */
/* button:active, */
/* ::before of ::after VOOR STYLING AAN LINKS!!!!!!! */

/*****************/
/* VIDEO SECTION */
/*****************/

main section:nth-of-type(1) {
	position: relative;
	width:100vw;
	height:100vh;
}

/* selecteer de eerste section */
div { 
	position: absolute;
	inset:0;

	display: flex;
	flex-direction: column;
	justify-content:center;

	padding: 1em 1em 10em 1em;

	/* background-color: #f008; */
}

/* selecteer de h1 van de 1e en 2e section */
main section:nth-of-type(1) div h2 { 
	font-size: 2.5em;
	color: var(--color-text-light);
	font-weight: 100;
}

 /* link van video header */
 main section:nth-of-type(1) div a {
	text-decoration: none;
	color: var(--color-text-light);
 }
 
 main section:nth-of-type(1) video {
	object-fit: cover;
  	width: 100%;
  	height: 100%; 
}

/*****************************/
/********* section 2 *********/
/*****************************/

section:nth-of-type(2) {
	display: grid;
	grid-template-columns: 1fr 1fr;
	padding: 1em 1em 5em 1em;
}

/* Positioneer h2 in 1 kolom */
section:nth-of-type(2) h2 {
	font-size: 3em;
	font-weight: 100;
	grid-column-start: 1;
	grid-column-end: 3;
}
section:nth-of-type(2) h3 {
	font-size: 2em;
	margin: 0;
}

section:nth-of-type(2) a {
	text-decoration: none;
	background-color: var(--link-button-color);
	color: var(--color-text-dark);
	border-radius: 2em;

	padding: 1em;
	width: 14.5em;
	margin: 2em 0 0 0;
	text-align: center;
}

/* Prijs ADE Pro Pass met grid */
section:nth-of-type(2) p:nth-of-type(1) {
	font-size: 1.7em;
	text-align: end;
}

section:nth-of-type(2) p {
	margin: 0;
	font-size: 1.1em;
}

section:nth-of-type(2) p:nth-of-type(2) {
	grid-column-start: 1;
	grid-column-end: 3;
	margin: 0.5em 0 0 0;
	
}

section:nth-of-type(2) p:nth-of-type(3) {
	grid-column-start: 1;
	grid-column-end: 3;
	margin: 0.5em 0 0 0;
}

/****************************/
/******** section 3 *********/
/****************************/

section:nth-of-type(3) {
	background-color: var(--color-background);
}

/****************************/
/********* carousel *********/
/****************************/

section:nth-of-type(4) h2 {
	padding: 1em 1em 5em 1em;
	font-weight: 100;
	/* news & updates */
}

section:nth-of-type(4) h3 {
	position: absolute;
	margin: -0.75em 0 0 0;

	color: var(--color-text-light);
	font-size: 9em;
	font-weight: 100;
	/* achter de carousel, met JS? */
}

section:nth-of-type(4) img {
	display: block;
	width: 21em;
}

section:nth-of-type(4) ul {
	display: flex;
  	list-style: none;

/* Vanaf hier code van Sanne: https://codepen.io/shooft/pen/abmLRMg */
	
	/* handmatig scrollen is mogelijk */
	overflow-x: scroll;
	overflow-y: hidden;
	
	/* snappen als er gescrolled wordt - andere helft bij li */
  	scroll-snap-type: inline mandatory;
	/* smooth als met js gescrolled wordt */
	scroll-behavior: smooth;
  	/* scrollbar zoveel mogelijk verbergen */
  	-webkit-overflow-scrolling: touch; /* voor iOS*/
 	-ms-overflow-style: none; /* voor IE */
	scrollbar-width: none; /* voor firefox */
	
	/* indien het einde of het begin van de pagina bereikt is met scrollen */
	/* voorkomen dat de pagina gaat scrollen */
	overscroll-behavior: contain auto;
}

section:nth-of-type(4) ul li {
	flex-basis: 100%;
  	flex-shrink: 0;
  /* snappen als er gescrolled wordt - andere helft bij ul */
	scroll-snap-align:center;
}

.show {
	color: var(--link-button-color);
}



/******************/
/***** footer *****/
/******************/

footer {
	display: flex;
	flex-direction: column;

	padding: 1em 1em 0em 1em;

	background-color: var(--footer-color);
	color: var(--color-text-light);
}

footer h2 {
	font-size: 2.5em;
	font-weight: 100;
	margin: .5em 0 0 0;
}

footer p {
	font-size: 1.4em;
	font-weight: 100;
}



